@import 'config.scss';

.BlogCard {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  margin: 4vh auto;
  width: 30%;
  height: auto;
  background-color: #fcf9ef;
  border-radius: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;

  @include media('<=1130px') {
    width: 60%;
    height: auto;
    margin: 2vh auto;
  }
  @include media('<=585px') {
    width: 100%;
    height: auto;
    //margin: 2vh 0;
    .BlogCard__textContainer {
      padding: 5px;
      &__title {
        font-size: 20px;
      }
      &__author {
        font-size: 16px;
        padding-top: 5px;
      }
      &__description {
        font-size: 16px;
        padding: 5px 0;
      }
      &__date {
        font-size: 14px;
        padding: 5px 0;
      }
    }
  }

  &__thumbnail {
    width: 100%;
    //height: 60%;
    overflow: hidden;
    &__img {
      // background: url('https://source.unsplash.com/random/500x300') center
      //   center / cover no-repeat;
      width: 100%;
      padding-top: 60%;
      transition: 0.3s ease-in-out;
    }
    img {
      display: inline-block;
      width: 100%;
      height: 200px;
      //padding-top: 60%;
      //height: auto;
      cursor: pointer;
      transition: 0.3s ease-in-out;
      object-fit: fill;
    }
  }

  &:hover &__thumbnail img {
    transform: scale(1.1);
  }
  &__textContainer {
    @include fontStyle;
    cursor: pointer;
    padding: 20px;

    &__title {
      letter-spacing: normal;
      font-weight: weight(bold);
      font-size: 26px;
      color: black;
    }
    &__author {
      font-size: 18px;
      font-weight: weight(bold);
      padding-top: 5px;
      color: $gray-1;
    }
    &__description {
      font-size: 20px;
      text-align: justify;
      padding: 10px 0;
      color: $gray-1;
    }
    &__date {
      @include fontStyle;
      color: black;
      font-weight: weight(medium);
      font-size: minmax(16px, 1vmax);

      padding: 5px 0;
    }
  }
  &:hover {
    .BlogCard__textContainer__title {
      color: #ff416c;
    }
    .BlogCard__textContainer__author {
      color: #ff416db2;
    }
  }

  &:hover &__thumbnail &__thumbnail__img {
    transform: scale(1.2);
  }
}
