@import 'config.scss';

$navbarHeight: 6vh;
$navbarBackground: #f2f2f2;
$navbarItemsColor: #383838;
$navbarScrolledBackground: #383838;
$navbarScrolledItemsColor: #f2f2f2;

*:focus {
  outline: none;
}

.Nav {
  @include flexCenter;
  justify-content: space-around;

  @include fontStyle;
  font-weight: weight(bold);
  font-size: 1rem;
  text-transform: uppercase;

  background: $navbarBackground;

  //box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
  //box-shadow: 0 1px 0px 0px #ff9921;

  position: sticky;
  top: 0;
  min-height: $navbarHeight;
  width: 100%;
  z-index: 100;
  scroll-snap-align: start;

  * + * {
    .Nav__item {
      margin-left: 0vw;
      padding-right: 12vw;
    }
  }

  &__scroll {
    background: $navbarScrolledBackground;
    color: $navbarScrolledItemsColor;
  }
  @include media('<1200px') {
    display: none;
  }
}

.Nav__icon {
  color: $navbarItemsColor;
  font-size: 1.8rem;
  padding-top: 5px;
  //margin-left: 10vw;
  //margin-right: 10vw;
  &:hover {
    color: $hoverRed;
  }
  &:link {
    text-decoration: none;
  }
}

.Nav__item {
  color: $navbarItemsColor;
  margin-right: 10vw;
  cursor: pointer;
  &:hover {
    color: #ff416c;
    //opacity: 0.7;
  }

  &__scroll {
    color: $navbarScrolledItemsColor;
    &:hover {
      //opacity: 0.7;
      color: #ff416c;
    }
  }
}
